html {
    min-height: 100%;

    > body {
        margin: 0;
        height: 100%;

        > div#__next {
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            align-items: stretch;
            height: 100%;
        }
    }
}
