svg.map {
    width: 100%;
    min-height: 100%;
    background-color: black;

    circle {
        &.star {
            fill: white;
        }
        &.planet {
            fill: black;
        }
    }
    .ring {
        fill: black;
    }
}
