svg.map {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100%;
    background-color: black;

    circle {
        &.star {
            fill: white;
        }
        &.planet {
            fill: black;
        }
    }
    p.ring {
        fill: black;
    }
    text {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        text-anchor: middle;

        &.symbol {
            dominant-baseline: central;
            fill: white;
        }
        &.name {
            dominant-baseline: text-before-edge;
            fill: black;
        }
        &.moonName {
            text-anchor: start;
            dominant-baseline: central;
            fill: black;
        }
    }
}
